<%= turbo_stream_from "blocks" %>
<main class="container">
  <div class="header">
    <h1>Halving Party 2024</h1>
    <h2 class="<%= @blocks&.first&.height&.to_i == 840000 ? 'halving' : 'boring' %>">Block Height:
      <div id="block_height">
        <%= @blocks.first&.height || "TBD" %>
      </div>
    </h2>
  </div>
  <%= turbo_frame_tag "blocks" do %>
    <%= render @blocks %>
  <% end %>
</main>
